html,
body {
  height: 100%;
  margin: 0;
  font-family: "quicksand", sans-serif;
  background: #fdf5d6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.form-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form-container p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
}

.form-container form {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  margin-right: 15px;
  min-width: 100px;
  text-align: right;
  font-size: 1rem;
  color: #333;
}

.form-group input,
.form-group .PhoneInputInput {
  flex-grow: 1;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}

.form-text-input {
  width: 300px;
  height: 30px;
  background: #fff;
  border-radius: 4px;
}

.PhoneInputInput {
  width: 265px;
  height: 30px;
  background: #fff;
  border-radius: 4px;
}

.form-group input[type="checkbox"] {
  margin-left: 10px;
  width: auto;
  color: #fff;
}

.enter-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #883031;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.enter-btn:hover {
  background-color: #761b28;
}

.terms-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.terms-container label {
  font-size: 0.9rem;
  color: #666;
}

.terms-container input[type="checkbox"] {
  margin-left: 10px;
}
