@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("images/bar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.age-gate-container,
.home-container,
.no-win-container,
.winner-container,
.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.age-gate-header,
.home-header {
  display: flex;
  align-items: center;
}

.age-gate-header {
  margin-bottom: 10px;
  font-size: 45px;
}

.dob-text,
.home-text {
  font-size: 22px;
}

.date-input {
  margin-bottom: 1rem;
  height: 30px;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.age-gate-btn,
.enter-btn {
  cursor: pointer;
  color: #fff;
  background-color: #761b28;
  font-size: 18px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.no-win-container h1,
.winner-container h1,
.thank-you-container h1 {
  color: #333;
  margin-bottom: 10px;
  font-size: 45px;
}

.no-win-container p,
.winner-container p,
.thank-you-container p {
  color: #333;
  margin-bottom: 20px;
  font-size: 22px;
}

.no-win-container button,
.winner-container button,
.thank-you-container button {
  color: #fff;
  background-color: #761b28;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.winner-container button {
  background-color: #28a745;
}

.winner-container button:hover {
  background-color: #218838;
}

.thank-you-container button:hover,
.no-win-container button:hover,
.age-gate-btn:hover,
.enter-btn:hover {
  background-color: #681424;
}
