@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "quicksand";
  font-size: 0.875rem;
  color: #ffffff;
  background: #181b26;
  color: #883031;
  background: #fdf5d6;
}

h1 {
  color: #883031;
}

.age-gate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.beer-icon {
  color: goldenrod;
  color: #2a5346;
  font-size: 2.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.age-gate-header {
  margin-bottom: 10px;
}

.date-input {
  margin-bottom: 1rem;
  height: 30px;
}

.age-gate-btn,
.enter-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.age-gate-btn:hover,
.enter-btn:hover {
  background: #883031;
  background-color: #1b1b1b;
  background-color: #242124;
}

.age-gate-header {
  display: flex;
  align-items: center;
}

.dob-text,
.home-text {
  font-size: 18px;
  color: #1b1b1b;
}

.home-header {
  display: flex;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fdf5d6;
}

.no-win-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.no-win-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.no-win-container p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.no-win-container button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #883031;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.no-win-container button:hover {
  background-color: #761b28;
}

.winner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.winner-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.winner-container p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.winner-container button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.winner-container button:hover {
  background-color: #218838;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.thank-you-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.thank-you-container p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.thank-you-container button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.thank-you-container button:hover {
  background-color: #0056b3;
}

.Toastify__toast-container--top-center {
  --toastify-toast-width: 370px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 80px;
  --toastify-toast-max-height: 100px;
  --toastify-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-setMaxToast: limit(1);
}
